:host {
  display: block;
  min-height: 100vh;
  background: 
  url('/assets/backgrundImg.png') no-repeat center center;
  background-size: cover;
}

.app-container {

  padding: 0 1rem;
  font-family: Arial, sans-serif;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav{
  border-top: 10rem;
  background: 
    url('/assets/medicallogo.png') no-repeat center center;
  background-size: cover;
  display: flex;
}


header {
  display: flex;
  align-items: center;

  margin: 0;

  
  padding: 1rem;
}


.branding {
  display: flex;
  align-items: center;
}

.branding .logo {
  height: 40px;
  margin-right: 0.75rem;
}

.branding h1 {
  margin: 0;
  font-size: 1.4rem;
  color: #fff;
}


.navbar ul {
  list-style: none;
  display: flex;
  margin-top: 4rem;
}

.navbar li {
  margin: 0 0.75rem;
}

.navbar a {
  display: block;
  padding: 0.5rem 0.8rem;
  color: #a4b2e5;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}


.navbar a:hover {
  background-color: #065d9f;
}


.navbar a.active {
  background-color: #e9e9e9;
  color: #fff;
}


h1 {
  padding-top: 2%;
  padding-left: 2%;
  color: #357af0;
}




