<div class="app-container">
    <header>
      
    </header>
    <main>
      <div class="nav">
        <h1>Medical Image Processing</h1>
        <nav class="navbar">
          <ul>
              <li><a routerLink="/grayscale">Grayscale</a></li>
              <li><a routerLink="/noise">Noise</a></li>
              <li><a routerLink="/kmeans">K-Means Segmentation</a></li>
              <li><a routerLink="/otsu">Otsu Treshold Segmentation</a></li>
              <li><a routerLink="/watershed">Watershed Segmentation</a></li>
              <li><a routerLink="/canny">Canny Edge Segmentation</a></li>
              <li><a routerLink="/editor">Multi-Filter Editor</a></li>
          </ul>
        </nav></div>
      <router-outlet></router-outlet>
    </main>
  </div>
  