<div class="app-container">
    <header>
      <h1>Medical Image Processing</h1>
      <nav class="navbar">
        <ul>
            <li><a routerLink="/grayscale">Grayscale</a></li>
            <li><a routerLink="/noise">Noise</a></li>
            <li><a routerLink="/kmeans" routerLinkActive="active">K-Means Segmentation</a></li>
            <li><a routerLink="/editor">Multi-Filter Editor</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  